body.dark-theme {
  --tab-background-normal: 	hsl(192, 100%, 11%);
  --tab-background-pinned: hsl(192, 81%, 14%);
  --tab-background-active: hsl(192, 81%, 14%);
  --tab-background-hover: hsl(192, 81%, 14%);
  --tab-border-color: hsl(196, 13%, 45%);
  --menu-background: hsl(192, 100%, 11%);
}

#pinnedtablist {
  box-shadow: 0px 1px 0px hsla(0, 0%, 0%, 0.2);
  z-index: 1;
}

#pinnedtablist .tab:last-of-type {
  border-bottom: none;
}

#newtab {
  margin-left: -1px;
}

#newtab-icon {
  margin-right: 8px !important;
}

#searchbox {
  padding: 0px;
}

#newtab-label {
  margin-left: 0px;
}

#newtab-label.hidden {
  display: block !important;
  width: 0px;
  margin-right: -10px;
}

.tab-context {
  height: calc(100% + 1px);
  position: relative;
  top: 0.5px;
}

#pinnedtablist .tab:last-of-type .tab-context {
  height: 100%;
  top: 0px;
}

/* Reversing Tabs and moving scroll bar to left and thinner */
#tablist {
  flex-direction: column-reverse;
  display: flex;
  flex: 0 0 auto;
  direction: rtl;
  scrollbar-width: thin;
}
.tab {
    direction: ltr;
}
.tab.pinned {
  order: 1;
}
/* ---------- */

/* Loading burst */
.tab-loading-burst, .tab-loading-burst:before {
  display: block;
}
body.dark-theme .tab:not(.active) .tab-loading-burst.bursting::before {
  filter: invert(100%);
}
/* ---------- */

/* Hide top menu */
#topmenu {
  display: none;
}
/* ---------- */

